<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator Page</title>
    <div th:replace="pagefragments :: header_styles"/>
</head>
<body>
<h1>Hello My Calculator!</h1>

<div class="container">
    <form th:action="@{/calculator}" action="post">
        Size X: <input type="number" step="1" min="1" name="sizeX">
        Size Y: <input type="number" step="1" min="1" name="sizeY">

        <input type="submit">

    </form>


</div>
<div th:replace="pagefragments :: footer_scripts"/>
</body>
</html>